@import "../../styles/_variables.scss";
@import "../../styles/_mixins.scss";

.header {
  margin-bottom: 60px;
  padding: 40px 0;
  border-bottom: 1px solid rgba(233, 218, 198, 1);

  .wrapper {
    @include container;

    .nav {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .siteNavTitle {
        font-size: 30px;
        line-height: 24px;
      }

      .siteNavList {
        display: flex;

        .siteNavListItem {
          margin-right: 48px;
          transition: color .2s ease-in-out;
          position: relative;

          &:after {
            content: '';
            position: absolute;
            bottom: -15px;
            left: 50%;
            transform: translateX(-50%);
            width: 10px;
            height: 10px;
            background: #E56E0C;
            border-radius: 50%;
            opacity: 0;
            transition: opacity .2s ease-in-out;
          }

          &:hover:after {
            opacity: 1;
          }

          &:last-child {
            margin-right: 0;
          }

          &:hover {
            color: $secondary-color;
          }

          .siteNavListItemLink {
            font-size: 20px;

          }
        }
      }

      .userNavList {
        display: flex;

        .userNavListItem {
          margin-right: 20px;

          &:last-child {
            margin-right: 0;
          }

          .userNavListItemBtn {
            display: flex;
            justify-content: center;
            align-items: center;
            border: none;
            background-color: transparent;
            cursor: pointer;

            .userNavListItemBtnIcon {
              width: 24px;
              height: 24px;
              color: $main-color;
              transition: color .2s ease-in-out;

              &:hover {
                color: $secondary-color;
              }
            }
          }
        }
      }
    }
  }
}